.text-center {
    text-align: center;
}
.container {
    width: 95% !important;
    max-width: 100% !important;
}
.demo {
    hr {
        margin-bottom: 0;
    }
    font-family: 'Roboto', sans-serif;
    color: #c8c7c5;
    label {
        font-size: 1.5rem;
    }
    .content {
        font-size: 1.25rem;
        font-weight: 450;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        .title {
            font-size: 1.5rem;
            font-weight: 700;
        }
        ul {
            margin-bottom: 0;
        }
        img {
            width: 100%;
        }
        .sub-panel {
            margin-top: 2rem;
        }
    }

    .page-header {
        display: flex;
        .follow {
            flex: 1 0 auto;
            // display: inline-flex;
            display: flex;
            img {
                width: 3rem;
                height: 3rem;
            }
            .title {
                line-height: 2.5rem;
                padding-left: 10px;
            }
            margin-bottom: 2rem;
            width: 50%;
        }
        .connect {
            flex: 0 0 auto;
            text-align: right;
            button {
                font-size: 1.25rem;
                font-weight: 700;
                color: white;
                border-radius: 0;
                border: 1px white solid;
            }
            button:hover {
                background-color: transparent;
            }
            .active{
                font-size: 1.25rem;
                font-weight: 700;
                color: white;
                border-radius: 0;
                border: 1px white solid;
                text-decoration: none;
                margin-left: 10px;
                padding: 10px;
            }

        }
    }

    .collector {
        .title {
            text-align: center;
        }
        .hand-title {
            text-align: center;
            font-size: 1rem;
            font-weight: 700;
        }
        .description {
            font-size: 0.9rem;
        }
        .timeline {
            padding-top: 2rem;
            .line {
                height: 4rem;
                background-color: #27a6c3;
                border-radius: 0.5rem;
                display: flex;
                .line-circle {
                    display: inline-block;
                    width: 19.99%;
                    text-align: center;
                    position: relative;
                    padding: 0.5rem;
                    .circle-in {
                        background-color: #041623;
                        height: 5rem;
                        bottom: -0.5rem;
                        left: calc(50% - 2.5rem);
                        width: 5rem;
                        position: absolute;
                        border-radius: 50%;
                        z-index: 101;
                    }
                    .circle-out {
                        background-color: #27a6c3;
                        height: 6rem;
                        bottom: -1rem;
                        left: calc(50% - 3rem);
                        width: 6rem;
                        position: absolute;
                        border-radius: 50%;
                        z-index: 100;
                    }
                    .circle-select {
                        display: none;
                        background-color: #27a6c3;
                        height: 4rem;
                        bottom: 0vw;
                        left: calc(50% - 2rem);
                        width: 4rem;
                        position: absolute;
                        border-radius: 50%;
                        z-index: 102;
                    }
                }
            }
            .line-graph {
                display: flex;
                .one-hand {
                    text-align: center;
                    width: 19.99%;
                    display: inline-block;
                    padding: 0.5rem;
                    .hand-image {
                        height: 10rem;
                        text-align: center;
                        img {
                            height: 100%;
                            max-width: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .find-out {
        button {
            font-size: 1.25rem;
            font-weight: 700;
            color: white;
            border-radius: 0;
            border: 1px white solid;
        }
        button:hover {
            background-color: transparent;
        }
    }
    
    .result-header {
        .progress-diamond {
            text-align: center;
            img {
                width: 5vw;
                margin: 1vw;
                opacity: 0.1;
            }
        }
        h1 {
            font-weight: 1000;
        }
    }
    .horizontal-line {
        .line {
            height: 1px;
            width: 100%;
            background-color: white;
        }
    }

    .output {
        .find {
            display: flex;
            label {
                width: 60%;
                margin: auto;
            }
            .rating {
                flex: 0 0 auto;
                width: 25%;
                padding-top: 0.25vw;
                padding-bottom: 0.25vw;
                .column {
                    display: inline-block;
                    width: 0.8vw;
                    border-radius: 0.1vw;
                    height: 100%;
                    margin-left: 0.4vw;
                    margin-right: 0.4vw;
                    background-color: #77def5;
                }
            }
            .result {
                // border-left: 1px solid #35424b;
                padding: 0.2vw;
                width: 15%;
                text-align: center;
                button {
                    width: 100%;
                    background-color:#c8c7c5;
                    color: black;
                }
            }
        }
    }

    .bonus {
        .bonus-info {
            display: flex;
            label {
                width: 25%;
            }
            .chips {
                width: 45%;
                display:-webkit-flex;
                .form-check {
                    min-height: 2.5rem;
                    margin-left: 1vw;
                    .form-check-input {
                        width: 2rem;
                        height: 2rem;
                        background-color: #77def5;
                    }
                    .form-check-label {
                        padding-left: 1vw;
                    }
                    label {
                        white-space: nowrap;
                    }
                }
            }
            .age {
                width: 42.5%;
                display: flex;
                label {
                    width: 50%;
                    text-align: right;
                }
                div {
                    width: 50%;
                    text-align: center;
                    button {
                        width: 50%;
                        background-color:#c8c7c5;
                        color: black;
                    }
                }
            }
        }
    }

    .passport {
        .sub-panel {
            .caption {
                display: flex;
                .title {
                    width: 50%;
                }
                .share {
                    width: 50%;
                    text-align: right;
                    a {
                        text-decoration: none;
                        color: #c8c7c5;
                        word-break: break-all;
                        white-space: pre-wrap;
                        img {
                            width: 4rem;
                        }
                        .share-caption {
                            padding: 1vw;
                        }
                    }
                    padding-bottom: 1rem;
                }
            }
            .avatar-section {
                .avatar-panel {
                    width: 40vw;
                    margin: auto;
                    // height: 30vw;
                    // position: relative;
                    border: 1px #c8c7c5 solid;
                    .sub-title {
                        margin-top: 1.5rem;
                        text-align: center;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    .result-img {
                        width: 100%;
                    }
                    .progress-diamond {
                        // position: absolute;
                        // bottom: 0;
                        // left: calc(20vw - (5.4vw * 5 / 2));
                        // left: 6.5vw;
                        text-align: center;
                        img {
                            width: 5vw;
                            margin: 0.2vw;
                            opacity: 0.1;
                        }
                    }
                }    
            }
        }
    }
}

@media only screen and (max-width:991px) and (min-width: 768px) {

    .container {
        width: 95% !important;
        max-width: 100% !important;
    }

    .text-center {
        text-align: center;
    }
    .demo {
        font-family: 'Roboto', sans-serif;
        color: #c8c7c5;
        label {
            font-size: 1.5rem;
        }
        .content {
            font-size: 1.25rem;
            font-weight: 450;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            .title {
                font-size: 1.5rem;
                font-weight: 700;
            }
            ul {
                margin-bottom: 0;
            }
            img {
                width: 100%;
            }
        }

        .page-header {
            display: flex;
            .follow {
                flex: 1 0 auto;
                // display: inline-flex;
                display: flex;
                img {
                    width: 3rem;
                    height: 3rem;
                }
                .title {
                    line-height: 2.5rem;
                    padding-left: 10px;
                }
                margin-bottom: 2rem;
                width: 50%;
            }
            .connect {
                flex: 0 0 auto;
                text-align: right;
                button {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: white;
                    border-radius: 0;
                    border: 1px white solid;
                }
                button:hover {
                    background-color: transparent;
                }
            }
        }

        .collector {
            .hand-title {
                text-align: center;
                font-size: 1.5vw;
                font-weight: 700;
            }
            .description {
                font-size: 1.35vw;
            }
            .timeline {
                .line {
                    height: 4vw;
                    background-color: #27a6c3;
                    border-radius: 0.5vw;
                    display: flex;
                    .line-circle {
                        display: inline-block;
                        width: 19.99%;
                        text-align: center;
                        position: relative;
                        padding: 0.5vw;
                        .circle-in {
                            background-color: #041623;
                            height: 5vw;
                            bottom: -0.5vw;
                            left: calc(20% + 3vw);
                            width: 5vw;
                            position: absolute;
                            border-radius: 50%;
                            z-index: 101;
                        }
                        .circle-out {
                            background-color: #27a6c3;
                            height: 6vw;
                            bottom: -1vw;
                            left: calc(20% + 2.5vw);
                            width: 6vw;
                            position: absolute;
                            border-radius: 50%;
                            z-index: 100;
                        }
                        .circle-select {
                            background-color: #27a6c3;
                            height: 4vw;
                            bottom: 0vw;
                            left: calc(20% + 3.5vw);
                            width: 4vw;
                            position: absolute;
                            border-radius: 50%;
                            z-index: 102;
                        }
                    }
                }
                .line-graph {
                    display: flex;
                    .one-hand {
                        width: 19.99%;
                        display: inline-block;
                        padding: 0.5rem;
                        .hand-image {
                            height: 15vw;
                            text-align: center;
                            img {
                                height: 100%;
                                max-width: 100%;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }

        .find-out {
            button {
                font-size: 1.25rem;
                font-weight: 700;
                color: white;
                border-radius: 0;
                border: 1px white solid;
            }
            button:hover {
                background-color: transparent;
            }
        }
        
        .result-header {
            .progress-diamond {
                text-align: center;
                img {
                    width: 5vw;
                    margin: 1vw;
                    opacity: 0.1;
                }
            }
            h1 {
                font-weight: 1000;
            }
        }
        .horizontal-line {
            .line {
                height: 1px;
                width: 100%;
                background-color: white;
            }
        }

        .output {
            .find {
                display: flex;
                label {
                    width: 45%;
                    margin: auto;
                }
                .rating {
                    flex: 0 0 auto;
                    width: 30%;
                    padding-top: 0.5vw;
                    padding-bottom: 0.5vw;
                    .column {
                        display: inline-block;
                        width: 1.5vw;
                        border-radius: 0.1vw;
                        height: 100%;
                        margin-left: 1vw;
                        margin-right: 1vw;
                        background-color: #77def5;
                    }
                }
                .result {
                    padding: 0.2vw;
                    width: 25%;
                    text-align: center;
                    button {
                        width: 50%;
                        background-color:#c8c7c5;
                        color: black;
                    }
                }
            }
        }

        .bonus {
            .bonus-info {
                display: flex;
                label {
                    width: 25%;
                }
                .chips {
                    width: 62.5%;
                    display:-webkit-flex;
                    .form-check {
                        min-height: 2.5rem;
                        margin-left: 1vw;
                        .form-check-input {
                            width: 2rem;
                            height: 2rem;
                            background-color: #77def5;
                        }
                        .form-check-label {
                            padding-left: 1vw;
                        }
                        label {
                            white-space: nowrap;
                        }
                    }
                }
                .age {
                    width: 25%;
                    display: inline-block;
                    label {
                        width: 100%;
                        text-align: right;
                    }
                    div {
                        width: 100%;
                        text-align: center;
                        button {
                            width: 100%;
                            background-color:#c8c7c5;
                            color: black;
                        }
                    }
                }
            }
        }

        .passport {
            .avatar-section {
                .avatar-panel {
                    width: 40vw;
                    margin: auto;
                    border: 1px #c8c7c5 solid;
                    .sub-title {
                        margin-top: 1.5rem;
                        text-align: center;
                        font-size: 1.5rem;
                        font-weight: 700;
                    }
                    .progress-diamond {
                        text-align: center;
                        img {
                            width: 5vw;
                            margin: 0.2vw;
                            opacity: 0.1;
                        }
                    }
                }    
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    
    .container {
        width: 95% !important;
        max-width: 100% !important;
    }

    .text-center {
        text-align: center;
    }
    .demo {
        font-family: 'Roboto', sans-serif;
        color: #c8c7c5;
        label {
            font-size: 1.5rem;
        }
        .content {
            font-size: 1.25rem;
            font-weight: 450;
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            .title {
                font-size: 1.5rem;
                font-weight: 700;
            }
            ul {
                margin-bottom: 0;
            }
            img {
                width: 100%;
            }
        }
    
        .page-header {
            display: inline-block;
            .follow {
                flex: 1 0 auto;
                // display: inline-flex;
                display: flex;
                img {
                    width: 3rem;
                    height: 3rem;
                }
                .title {
                    line-height: 2.5rem;
                    padding-left: 10px;
                }
                margin-bottom: 2rem;
                width: 50%;
            }
            .connect {
                flex: 0 0 auto;
                text-align: center;
                button {
                    font-size: 1.25rem;
                    font-weight: 700;
                    color: white;
                    border-radius: 0;
                    border: 1px white solid;
                }
                button:hover {
                    background-color: transparent;
                }
    
            }
        }

        .collector {
            .hand-title {
                text-align: center;
                font-size: 1.5vw;
                font-weight: 700;
            }
            .description {
                font-size: 1.35vw;
            }
            .timeline {
                .line {
                    height: 4vw;
                    background-color: #27a6c3;
                    border-radius: 0.5vw;
                    display: flex;
                    .line-circle {
                        display: inline-block;
                        width: 19.99%;
                        text-align: center;
                        position: relative;
                        padding: 0.5vw;
                        .circle-in {
                            background-color: #041623;
                            height: 5vw;
                            bottom: -0.5vw;
                            left: calc(20% + 3vw);
                            width: 5vw;
                            position: absolute;
                            border-radius: 50%;
                            z-index: 101;
                        }
                        .circle-out {
                            background-color: #27a6c3;
                            height: 6vw;
                            bottom: -1vw;
                            left: calc(20% + 2.5vw);
                            width: 6vw;
                            position: absolute;
                            border-radius: 50%;
                            z-index: 100;
                        }
                        .circle-select {
                            background-color: #27a6c3;
                            height: 4vw;
                            bottom: 0vw;
                            left: calc(20% + 3.5vw);
                            width: 4vw;
                            position: absolute;
                            border-radius: 50%;
                            z-index: 102;
                        }
                    }
                }
                .line-graph {
                    display: flex;
                    .one-hand {
                        width: 19.99%;
                        display: inline-block;
                        padding: 0.5rem;
                        .hand-image {
                            height: 15vw;
                            text-align: center;
                            img {
                                height: 100%;
                                max-width: 100%;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }

        .wallet {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .find-out {
            button {
                font-size: 1.25rem;
                font-weight: 700;
                color: white;
                border-radius: 0;
                border: 1px white solid;
            }
            button:hover {
                background-color: transparent;
            }
        }
        
        .result-header {
            .progress-diamond {
                text-align: center;
                img {
                    width: 2rem;
                    margin: 1vw;
                    opacity: 0.6;
                }
            }
            h1 {
                font-weight: 1000;
            }
        }
        .horizontal-line {
            .line {
                height: 1px;
                width: 100%;
                background-color: white;
            }
        }
    
        .output {
            .find {
                display: inline-block;
                width: 100%;
                margin-bottom: 1rem;
                label {
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    margin: auto;
                    margin-bottom: 0.5rem;
                }
                .rating {
                    display: inline-flex;
                    position: relative;
                    width: 60%;
                    bottom: -0.9rem;
                    padding-top: 0.25vw;
                    padding-bottom: 0.25vw;
                    .column {
                        display: inline-table;
                        width: 5.8vw;
                        border-radius: 0.1vw;
                        height: 2.5rem;
                        margin-left: 3.4vw;
                        margin-right: 0.4vw;
                        background-color: #77def5
                    }
                }
                .result {
                    display: inline-flex;
                    padding: 0.2vw;
                    width: 40%;
                    text-align: center;
                    button {
                        width: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        background-color:#c8c7c5;
                        color: black;
                    }
                }
            }
        }
    
        .bonus {
            .bonus-info {
                display: inline-block;
                width: 100%;
                label {
                    width: 100%;
                    text-align: center;
                }
                .chips {
                    width: 100%;
                    display:inline-block;
                    div {
                        display: inline-block;
                        .form-check {
                            display: inline-flex;
                            padding-right: 1vw;
                            width: 49.99%;
                            min-height: 2.5rem;
                            margin-left: 1vw;
                            .form-check-input {
                                width: 2rem;
                                height: 2rem;
                                background-color: #77def5;
                            }
                            .form-check-label {
                                text-align: left;
                                display: inline;
                                padding-left: 1vw;
                            }
                            label {
                                white-space: nowrap;
                            }
                        }
                    }
                }
                .age {
                    padding-top: 2vw;
                    width: 100%;
                    display: inline-block;
                    label {
                        width: 100%;
                        text-align: center;
                    }
                    div {
                        width: 100%;
                        text-align: center;

                        button {
                            width: 50%;
                            background-color:#c8c7c5;
                            color: black;
                        }
                    }
                }
            }
        }
    
        .passport {
            .sub-panel {
                .caption {
                    display: inline-block;
                    .title {
                        width: 100%;
                    }
                    .share {
                        width: 100%;
                        padding-bottom: 2vw;
                        text-align: left;
                        a {
                            display: flex;
                            .share-caption {
                                padding-left: 3vw;
                            }
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
                .avatar-section {
                    .avatar-panel {
                        width: 100%;
                        margin: auto;
                        border: 1px #c8c7c5 solid;
                        .sub-title {
                            margin-top: 1.5rem;
                            text-align: center;
                            font-size: 1.5rem;
                            font-weight: 700;
                        }
                        .progress-diamond {
                            text-align: center;
                            img {
                                width: 2rem;
                                margin: 0.2vw;
                                opacity: 0.6;
                            }
                        }
                    }    
                }
            }
        }
    }
}
