.header {
    border-bottom: 3px solid #31d2f7;
    padding-top: 15px;
    display: flex;
    color: azure;
    .diamond {
        flex: 1 0 auto;
        display: -webkit-inline-box;
        ul {
            font : {
                size: 40px;
                weight: 600;
            }
            line-height: 42px;
            padding-left: 0;
            margin-bottom: 0;
            li {
                list-style: none;
            }
        }
        img {
            margin-top: 5px;
            width: 100px;
        }
    }

    .links {
        position: static;
        .toggle-collapse {
            position: static;
            ul {
                margin-bottom: 0;
                font : {
                    size: 40px;
                    weight: 600;
                }
                line-height: 42px;
                padding-left: 0;
                margin-bottom: 0;
                li {
                    list-style: none;
                    text-align: right;
                    a {
                        text-decoration: none;
                        color: azure;
                    }
                    .active {
                        color: white;
                        font-weight: 700;
                    }
                }
            }   
        }
        .collapse-button {
            // color: white;
            display: none;
            background-color: transparent;
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1) ' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }
    }
}

@media only screen and (max-width: 495px) {
    .header {
        .diamond {
            ul {
                display: none;
            }
            img {
                width: 40px;
                padding-bottom: 10px;
            }
        }
        .links {
            position: relative;
            .toggle-collapse {
                position: absolute;
                top: 48px;
                right: 0px;
                background-color: black;
                padding: 10px;
                padding-left: 15px;
                display: none;
                ul {
                    font-size: 20px;
                    line-height: 35px;
                    li {
                        text-align: left;
                    }
                }
            }
            .collapse-button {
                padding-bottom: 10px;
                display: inline;
            }
        }
    }
}