.home {
    .content {
        font-size: 1.25rem;
        font-weight: 450;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        .title {
            font-size: 1.25rem;
            font-weight: 700;
        }
        ul {
            margin-bottom: 0;
        }
    }

    .page-header {
        img {
            width: 3rem;
            height: 3rem;
        }
        .title {
            line-height: 1rem;
        }
        margin-bottom: 2rem;
    }

    .update {
        padding: 5px;
        color: black;
        background-color: #77def5;
        margin-top: 2.5rem;
    }

    .collector {
        text-align: center;
    }
}