@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "./assets//scss/welcome.scss";
@import "./assets/scss/_header.scss";
@import "./assets/scss/_footer.scss";
@import "./assets/scss/_home.scss";
@import "./assets/scss/_demo.scss";
@import "./assets/scss/_contact.scss";